<%= form_with(url: parlay_index_path) do %>
  <%= submit_tag %>
  <hr />
  <dl class="half-page">
    <dd>
      <h3>Weighted Round Robin</h3>
    </dd>
    <dd>
      <%= label_tag :num_teams, 'Number of Teams', title: 'Number of teams in each parlay' %>
      <%= text_field_tag :num_teams, nil, value: @parlay.num_teams %>
    </dd>
    <dd>
      <%= text_area_tag :top_teams, @parlay.top_teams.join("\n"), placeholder: 'Top Teams' %>
    </dd>
    <dd>
      <%= label_tag :max_occurrences, 'Max Occurrences', title: 'Max times a team can be used in the round robin' %>
      <%= text_field_tag :max_occurrences, nil, value: @parlay.max_occurrences %>
    </dd>
    <dd>
      <%= text_area_tag :middle_teams, @parlay.middle_teams.join("\n"), placeholder: 'Middle Teams' %>
    </dd>
    <dd>
      <%= label_tag :middle_occurrences, 'Max Occurrences', title: 'Max times a specific middle team can be used in the round robin' %>
      <%= text_field_tag :middle_occurrences, nil, value: @parlay.middle_occurrences %>
    </dd>
    <dd>
      <%= text_area_tag :bottom_teams, @parlay.bottom_teams.join("\n"), placeholder: 'Bottom Teams' %>
    </dd>
    <dd>
      <%= label_tag :bottom_occurrences, 'Max Occurrences', title: 'Max times a specific bottom team can be used in the round robin' %>
      <%= text_field_tag :bottom_occurrences, nil, value: @parlay.bottom_occurrences %>
    </dd>
  </dl>
  <dl class="half-page">
    <dd>
      <h3>Results:</h3>
      <p><%= "Max bets: #{(pick_occurrences / @parlay.num_teams).to_i}" %></p>
    </dd>
    <% parlays.each do |parlay| %>
      <dd><%= parlay.join(', ') %></dd>
    <% end %>
  </dl>
<% end %>
