<%= render 'shared/nav' %>

<%= form_with(url: refresh_teams_path) do %>
    <%= submit_tag('Refresh') %>
<% end %>

<hr />

<h3>Teams:</h3>

<table>
  <% @teams.each do |team| %>
      <tr>
        <td><%= team.last_offensive_score %></td>
        <td><%= team.last_defensive_score %></td>
        <td><%= team.name %></td>
        <td>
          <%= link_to 'Last Game', last_game_team_path(team) %>
        </td>
        <td>
          <%= form_with(url: team_path(team), method: :patch) do %>
              <%= submit_tag follow_text(team), name: :commit %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
