<%= render 'shared/nav' %>

<%= form_with(url: refresh_games_path, class: 'block') do %>
    <%= hidden_field_tag :game_day, game_day %>
    <%= submit_tag('Refresh') %>
<% end %>

<%= form_with(url: filter_games_path, class: 'block') do %>
    <%= select_tag(:game_day, options_for_select(date_range, game_day)) %>
    <%= tag :input, name: :watching, type: :checkbox, value: 1, checked: params[:watching].presence %>
    <%= submit_tag('View') %>
<% end %>

<hr />

<h3>Games for <%= game_day %></h3>

<table>
  <% filtered_games.each do |game| %>
      <tr class="<%= game.favorite? ? 'favorite_game' : '' %>">
        <td><%= link_to 'view', game_path(game) %></td>
        <td><%= game.scheduled_at %></td>
        <td>
          <%= render partial: 'shared/team/name', locals: { team: game.away_team } %>
          vs
          <%= render partial: 'shared/team/name', locals: { team: game.home_team } %>
        </td>
        <td>
          <%= form_with(url: action_game_path(game), html: { style: 'display:inline-block' }) do %>
              <%= submit_tag follow_text(game), name: :commit %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<%= todays_games.count %> total