<%= form_with(url: filter_games_path) do %>
    <%= select_tag(:game_day, options_for_select(date_range, game_day)) %>
    <%= tag :input, name: :watching, type: :checkbox, value: 1, checked: params[:watching].presence %>
    <%= submit_tag('View') %>
<% end %>

<hr />

<h3>Games for <%= game_day %>:</h3>

<div>Games: <%= todays_games.count %></div>

<ul>
  <% filtered_games.each do |game| %>
      <li>
        [<%= link_to 'view', game_path(game) %>]
        |
        <%= game.away_team.name %>
        vs
        <%= game.home_team.name %>
        <%= form_with(url: favorite_game_path(game), html: { style: 'display:inline-block' }) do %>
            <%= submit_tag follow_text(game), name: :favorite %>
        <% end %>
      </li>
  <% end %>
</ul>
