<%= form_with(url: favorite_game_path(current_game)) do %>
    <%= submit_tag follow_text, name: :favorite %>
<% end %>
<hr />

<p><%= current_game.played_at %> @ <%= current_game.scheduled_at %></p>

<% current_game.teams.each do |team| %>
    <h4><%= team.name %></h4>
    <% ranking = team.rankings_for(current_game) %>
    <pre>
Ranking: <%= ranking.try(:offensive_score) %>
Top players: <%= ranking.try(:top_players) %>
2 point shooters: <%= ranking.try(:two_point_shooters) %>
3 point shooters: <%= ranking.try(:three_point_shooters) %>
Foul shooters: <%= ranking.try(:foul_shooters) %>
    </pre>
<% end %>
