<%= render 'shared/nav' %>

<%= form_with(url: action_game_path(current_game)) do %>
    <%= submit_tag follow_text(current_game), name: :commit %>
    <%= submit_tag refresh_text, name: :commit %>
    <%= submit_tag update_text, name: :commit %>
    <hr />

    <p>
      <%= current_game.played_at %>
      @
      <%= current_game.scheduled_at %>

      <% if current_game.neutral_site? %>
        (neut)
      <% end %>

      <% if current_game.conference_game? %>
        [conf]
      <% end %>
    </p>

    <% current_game.teams.each do |team| %>
        <h4><%= render partial: 'shared/team/name', locals: { team: team } %></h4>
        <% ranking = team.rankings_for(current_game) %>
        <div class="block">
          <table>
            <tr>
              <td>Offensive ranking</td><td><%= ranking.try(:offensive_score) || '--' %></td>
            </tr>
            <tr class="key_metrics">
              <td>2 point shooters</td><td><%= ranking.try(:two_point_shooters) || '--' %></td>
            </tr>
            <tr class="key_metrics">
              <td>3 point shooters</td><td><%= ranking.try(:three_point_shooters) || '--' %></td>
            </tr>
            <tr>
              <td>Foul shooters</td><td><%= ranking.try(:foul_shooters) || '--' %></td>
            </tr>
          </table>
        </div>

        <div class="block">
          <table>
              <td>Defensive ranking</td><td><%= ranking.try(:defensive_score) || '--' %></td>
            </tr>
            <tr class="key_metrics">
              <td>Top defenders</td><td><%= ranking.try(:top_defenders) || '--' %></td>
            </tr>
            <tr class="key_metrics">
              <td>Rebounders</td><td><%= ranking.try(:top_rebounders) || '--' %></td>
            </tr>
            <tr>
              <td>Sloppy players</td><td><%= ranking.try(:sloppy_players) || '--' %></td>
            </tr>
          </table>
        </div>

        <div class="block">
          <table>
            <% team.top_players_by_experience.each do |player| %>
                <tr>
                  <td><%= tag :input, id: player.id, name: "eligibility[#{team.id}][#{player.id}]", type: :checkbox, value: 1, checked: player.eligible %></td>
                  <td><%= label_tag player.id, player.name %></td>
                  <td><%= player.experience %></td>
                  <td><%= player.ft_height %></td>
                  <td><%= player.weight %></td>
                </tr>
            <% end %>
          </table>
        </div>

        <section>
          <table>
            <tr>
              <th>record</th>
              <th>home</th>
              <th>away</th>
              <th>nuet</th>
              <% team.opponents.each do |opponent| %>
                  <th><%= opponent.rank %></th>
              <% end %>
            </tr>
            <tr>
              <td class="<%= team.win_percent? ? 'hot_stat' : ''%>"><%= team.wins %>/<%= team.losses %></td>
              <td class="<%= team.home_win_percent? ? 'hot_stat' : ''%>"><%= team.home_wins %>/<%= team.home_losses %></td>
              <td class="<%= team.away_win_percent? ? 'hot_stat' : ''%>"><%= team.away_wins %>/<%= team.away_losses %></td>
              <td class="<%= team.neut_win_percent? ? 'hot_stat' : ''%>"><%= team.neut_wins %>/<%= team.neut_losses %></td>
              <% team.opponents.each do |opponent| %>
                  <td class="<%= opponent.win_percent? ? 'hot_stat' : ''%>"><%= opponent.wins %>/<%= opponent.losses %></td>
              <% end %>
            </tr>
          </table>
        </section>
    <% end %>
<% end %>