<%= form_with(url: action_game_path(current_game)) do %>
    <%= submit_tag follow_text, name: :commit %>
    <%= submit_tag refresh_text, name: :commit %>
    <%= submit_tag update_text, name: :commit %>
    <hr />

    <p><%= current_game.played_at %> @ <%= current_game.scheduled_at %></p>

    <% current_game.teams.each do |team| %>
        <h4><%= team.name %></h4>
        <% ranking = team.rankings_for(current_game) %>
        <dl>
          <dd>Ranking: <%= ranking.try(:offensive_score) %></dd>
          <dd>Top players: <%= ranking.try(:top_players) %></dd>
          <dd>2 point shooters: <%= ranking.try(:two_point_shooters) %></dd>
          <dd>3 point shooters: <%= ranking.try(:three_point_shooters) %></dd>
          <dd>Foul shooters: <%= ranking.try(:foul_shooters) %></dd>
        </dl>
        <dl>
          <% team.top_players.each do |player| %>
            <dd>
              <%= tag :input, id: player.id, name: "eligibility[#{team.id}][#{player.id}]", type: :checkbox, value: 1, checked: player.eligible %>
              <%= label_tag player.id, player.name %>
            </dd>
          <% end %>
        </dl>
    <% end %>
<% end %>