<% if team.present? %>
  <span class="<%= team.hot? ? 'hot_team' : '' %>">
    <%= team.name %>
    <%= "(#{team.ap_rank})" if team.ap_rank? %>
    <%= "[#{team.rank}]" if team.ranked? %>
    <%= "(R#{team.r_rank})" if team.r_ranked? %>
  </span>
<% else %>
    [TBD]
<% end %>